version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: leads_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: leads_api
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017
    ports:
      - "8000:8000"

volumes:
  mongo_data:
